<div class='annotation-table-container'>

    <div class='annotation-control'>
        <button mat-raised-button color="primary" class='annotate-button' (click)='addAnnotation()' >Annotate</button>
    </div>

    <div class='annotation-table' >

        <table mat-table [dataSource]="this.annotatedEvents" class="mat-elevation-z8">

            <ng-container matColumnDef="startTime">
              <th mat-header-cell *matHeaderCellDef> Start Time </th>
              <td mat-cell *matCellDef="let element"> {{element.startTime}} </td>
            </ng-container>

            <ng-container matColumnDef="endTime">
              <th mat-header-cell *matHeaderCellDef> End Time </th>
              <td mat-cell *matCellDef="let element"> {{element.endTime}} </td>
            </ng-container>

            <ng-container matColumnDef="tNumber">
              <th mat-header-cell *matHeaderCellDef> T Number </th>
              <td mat-cell *matCellDef="let element"> {{element.tNumber}} </td>
            </ng-container>

            <ng-container matColumnDef="ctNumber">
              <th mat-header-cell *matHeaderCellDef> CT Number </th>
              <td mat-cell *matCellDef="let element"> {{element.ctNumber}} </td>
            </ng-container>

            <ng-container matColumnDef="label">
              <th mat-header-cell *matHeaderCellDef> Label </th>
              <td mat-cell *matCellDef="let element"> {{element.label}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Description </th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <ng-container matColumnDef="primaryTeam">
              <th mat-header-cell *matHeaderCellDef> Primary </th>
              <td mat-cell *matCellDef="let element"> {{element.primaryTeam}} </td>
            </ng-container>
          
            <ng-container matColumnDef="secondaryTeam">
              <th mat-header-cell *matHeaderCellDef> Secondary </th>
              <td mat-cell *matCellDef="let element"> {{element.secondaryTeam}} </td>
            </ng-container>

            <ng-container matColumnDef="winProbBeginning">
              <th mat-header-cell *matHeaderCellDef> Start Prob </th>
              <td mat-cell *matCellDef="let element"> {{element.startWinProb}} </td>
            </ng-container>

            <ng-container matColumnDef="winProbEnd">
              <th mat-header-cell *matHeaderCellDef> End Prob </th>
              <td mat-cell *matCellDef="let element"> {{element.endWinProb}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>

    
</div>