<app-navbar></app-navbar>

<div class="container">
    <div class='first-row'>
        <div class='charts'>
            <div class='model-chart'>
                <app-model-chart></app-model-chart>
            </div>
            <div class='movement-chart'>
                <app-movement-chart></app-movement-chart>
            </div>
        </div>
        <div class='map'>
            <app-map></app-map>
        </div>
    </div>
    <div class='second-row'>
        <app-time-slider></app-time-slider>
    </div>    
</div>

